#menu {
    margin: 0;
    margin-top: 5px;
    padding: 10px 0 0 0;
    list-style: none;
    background: rgba(0,0,0,0.2);
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#menu li {
    float: left;
    padding: 0 0 10px 0;
    position: relative;
    line-height: 0;
}

#menu a {
    float: left;
    height: 25px;
    padding: 0 25px;
    color: #fff;
    text-transform: uppercase;
    font: bold 14px/26px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}

#menu li:hover > a {
    color: #d5d5d5;
}

*html #menu li a:hover /* IE6 */ {
    color: #fafafa;
}

#menu li:hover > ul {
    display: block;
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 99999;
    background: #6c757d;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

#menu ul ul {
    top: 0;
    left: 150px;
}

#menu ul li {
    float: none;
    margin: 0;
    padding: 0;
    display: block;
    -moz-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    -webkit-box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
    box-shadow: 0 1px 0 #111111, 0 2px 0 #777777;
}

#menu ul li:last-child {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#menu ul a {
    padding: 10px;
    /*width: 130px;*/
    height: auto;
    line-height: 1;
    display: block;
    white-space: nowrap;
    /*float: none;*/
    text-transform: none;
}

*html #menu ul a /* IE6 */ {
    height: 10px;
}

*:first-child+html #menu ul a /* IE7 */ {
    height: 10px;
}

#menu ul a:hover {
    background: #6c757d;
}

#menu ul li:first-child > a {
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

#menu ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 30px;
    top: -8px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 8px solid #6c757d;
}

#menu ul ul li:first-child a:after {
    left: -8px;
    top: 12px;
    width: 0;
    height: 0;
    border-left: 0;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
    border-right: 8px solid #6c757d;
}

#menu ul li:first-child a:hover:after {
    border-bottom-color: #6c757d;
}

#menu ul ul li:first-child a:hover:after {
    border-right-color: #6c757d;
    border-bottom-color: transparent;
}

#menu ul li:last-child > a {
    -moz-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
}

#menu:after  {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

* html #menu             { zoom: 1; } /* IE6 */
*:first-child+html #menu { zoom: 1; } /* IE7 */