{% extends 'HEICoreBundle::layout.html.twig' %}

{% block title %}{{ parent() }} - Contact{% endblock %}

{% block body %}
    <div class="well">
        {{ form(form) }}
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            var inputCodePostal = $('#hei_contactbundle_contact_codePostal');
            var route = "{{ path('hei_contact_autocomplete', {'codePostal': "PLACEHOLDER"}) }}";
            var codePostal = inputCodePostal.val();

            ajax(route, codePostal);

            inputCodePostal.change(function () {
                if ( codePostal.length === 5 ) {
                    ajax(route, codePostal);
                }
            });

            function ajax(route, codePostal) {
                $.ajax({
                    url:        route.replace("PLACEHOLDER", codePostal),
                    type:       "post",
                    complete:   function (resultat) {
                        $('#hei_contactbundle_contact_ville').empty();
                        var result = resultat.responseJSON;
                        var obj = jQuery.parseJSON(result);
                        $.each(obj, function (key, element) {
                            $("#hei_contactbundle_contact_ville").append('<option value="'+element["city"]+'">'+element["city"]+'</option>')
                        })
                    }
                })
            }
        })
    </script>
{% endblock %}