<!DOCTYPE html>
<html>
<head>
    <title>Intranet - Contacts</title>
</head>
<body>
    <h1>Hello World!</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab itaque mollitia praesentium voluptates. Aspernatur atque blanditiis, dolore eius eos expedita in, ipsum nemo officia officiis quas rem sapiente, vel voluptates.
    </p>
</body>
</html>